<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lexup - Hakkımızda</title>
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body style="background-color: #001f3f; color: #fff;">
    <h1 style="color: #4CAF50;">Hakkımızda</h1>
    <p>Lexup, kelime tahmin oyunudur. Oyunculara çeşitli kategorilerde kelimeler sunar ve bu kelimeleri doğru tahmin etmelerini sağlar. Her gün 5 joker hakkınız vardır ve bu jokerleri kullanarak rastgele bir harfi açabilirsiniz. Tüm kelimeleri doğru tahmin ederek koleksiyonunuzu tamamlayın!</p>
    <button style="background-color: #f44336; color: #fff;" onclick="goBack()">Geri</button>

    <script>
        function goBack() {
            window.history.back();
        }
    </script>
</body>
</html>
